:root {
    /* Colors */
    --blue-900: hsl(230, 35%, 7%);
    --blue-300: hsl(231, 77%, 90%);
    --white: hsl(360 100% 100%);

    /* Typography */
    --font-family-primary: "Bellefair", serif;
    --font-family-secondary: "Barlow Condensed", sans-serif;

    /* Spacing */
    --spacing-1600: 256px;
    --spacing-1200: 192px;
    --spacing-1000: 160px;
    --spacing-800: 128px;
    --spacing-600: 96px;
    --spacing-500: 80px;
    --spacing-400: 64px;
    --spacing-300: 48px;
    --spacing-200: 32px;
    --spacing-150: 24px;
    --spacing-100: 16px;
    --spacing-50: 8px;
    --spacing-25: 4px;
}
