---
import MainButton from '../components/MainButton.vue';
---

<div class="container">
	<div class="hero-wrapper">
		<div class="hero-texts">
			<h2 class="text-preset-5">Alors comme ça, vous voulez voyager dans</h2>
			<h1 class="text-preset-1">l'espace</h1>
			<p class="text-preset-9">
				Soyons réalistes : si vous voulez aller dans l'espace, autant aller dans l'espace extra-atmosphérique et ne pas planer à sa périphérie. 
				Asseyez-vous et détendez-vous, car nous allons vous faire vivre une expérience hors du commun !
			</p>
		</div>

		<MainButton baseUrl={import.meta.env.BASE_URL}>Explorer</MainButton> 
	</div>
</div>

<style>
	.container {
		color: var(--white);
		padding: var(--spacing-400) 0 0 0;
	}

	.hero-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 289px 0 0 0;
	}

	.hero-texts {
		width: 50%;
	}

	h1 {
		text-transform: uppercase;
		margin: var(--spacing-150) 0;
	}

	h2 {
		color: var(--blue-300);
		margin: 0;
	}

	p {
		color: var(--blue-300);
		margin: 0;
	}

	@media screen and (min-width: 0) and (max-width: 1100px) {
		.container {
			padding: var(--spacing-800) 0 0 0;
		}	

		.hero-wrapper {
			flex-direction: column;
			text-align: center;
			padding: 0;
		}
		.hero-texts {
			width: 100%;
			margin-bottom: var(--spacing-400);
		}
		.hero-texts p {
			width: 80%;
			margin: 0 auto;
		}
	}

	@media screen and (max-width: 768px) {
		.container {
			padding: var(--spacing-800) 0 0 0;
		}
		.main-button {
			margin-top: var(--spacing-200);
		}
	}

</style>
