---
import '../styles/main.css';
import NavigationMenu from '../components/NavigationMenu.vue';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Tourisme Spatiale</title>
	</head>
	<body>
		<NavigationMenu client:load menu={['Accueil', 'Destination', 'Équipage', 'Technologie']} />
		<slot />
	</body>
</html>
