---
import '../styles/main.css';
import NavigationMenu from '../components/NavigationMenu.vue';

const menu = [
	{ name: 'Accueil', href: import.meta.env.BASE_URL },
	{ name: 'Destination', href: import.meta.env.BASE_URL + "/destination" },
	{ name: 'Équipage', href: import.meta.env.BASE_URL + "/crew" },
	{ name: 'Technologie', href: import.meta.env.BASE_URL + "/technology" },
]

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={import.meta.env.BASE_URL + "/favicon.svg"} />
		<meta name="generator" content={Astro.generator} />
		<title>Tourisme Spatiale</title>
	</head>
	<body>
		<NavigationMenu client:load menu={menu} baseUrl={import.meta.env.BASE_URL} /> 
		<slot />
	</body>
</html>
